	/* (c) 2002 Martin Cohen - www.martincohen.info */
	
	/* P H P */
	.php-keyword1 {color:#d24;}
	.php-keyword2 {color:#d24; }
	.php-var {color:#DC6100;}
	.php-num {color:red;}
	.php-quote {color:#843;}
	.php-vquote {color:#fa0;}
	.php-comment {color:#999; background-color:#ffe;}

	/* H T M L */
	.html-tag {color:#598527;}
	.html-tagin {color:#89A315}
	.html-quote {color:#598527;}
	.html-comment {color:#999; background-color:#F1FAE4;}
	.html-entity {color:#89A315}

	/* C S S */
	.css-class {color:#004A80; }
	.css-id {color:#7DA7D9; }
	.css-def {color:#5674B9;}
	.css-property {color:#003663; }
	.css-value {color:#448CCB;}
	.css-color {color:#0076A3;}
	.css-comment { background-color:#E5F8FF; color:#999; }
	
	/* C P P */
	.cpp-keywords1 {color:blue;}
	.cpp-num {color:red;}
	.cpp-quote {color:brown;}
	.cpp-comment {color:green;}
	.cpp-preproc {color:grey;}

	/* J A V A */
	.java-keywords1 {color:blue;}
	.java-num {color:red;}
	.java-quote {color:brown;}
	.java-comment {color:green;}
	.java-preproc {color:grey;}

	/* J a v a S c r i p t */
	.js-out {color:#898993;}
	.js-keywords1 {color:#575757;}
	.js-num {color:#575757;}
	.js-quote {color:#575757;}
	.js-comment {color:#898993; background-color:#F4F4F4;}

	/* S Q L */
	.sql-keyword1 {color: #DD0000; }
	.sql-keyword2 {color: #DD2222;}
	.sql-keyword3 {color: #0000FF;}
	.sql-value {color: #5674B9;}
	.sql-comment {color: #FFAA00;}
	.sql-num {color:red;}
	.sql-option {color: #004A80;}

	/* C O M M O N */
	.normal {color:black;}
	.xlang {color:red;}
	.count {color:black; background-color:#FFF;}