body{
    background-color: #fff;
}

.nodisplay {
    display:none;
}
h1 {
     font-family:Trebuchet MS, Tahoma, Arial, sans-serif;
     font-size: 20px;
     color: #000000;
}
table {
    width: 700px;
}
table th {
     border: 1px solid #C9C992;
     font-weight:BOLD;
     background-color: #EDEDDC;
     color:#000000;
     padding: 2px;
     font-size:12px;
     font-family: "Tahoma", Helvetica, Arial, sans-serif;
}
table td {
     border: 1px solid #C9C992;
     color: #000000;
     padding: 2px;
     font-size:11px;
     font-family: "Tahoma", Helvetica, Arial, sans-serif;
}
a { 
     color: blue; 
     text-decoration:none; 
     font-family:Tahoma, Arial, sans-serif;
     font-weight :normal; 
     font-size: 11px;
}
a:hover {
     color:blue; 
     text-decoration:underline; 
     font-family:Tahoma, Arial, sans-serif;
     font-weight :normal; 
     font-size: 11px;
}


.source_code {
	width: 800px;
	height: 400px;
	overflow: auto;
}

h2 {
	font-size: 0.8em;
}