<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
<head>
	<title>Untitled</title>
</head>

<body>
<div id="p"contenteditable="true" style="width:400px;height:200px;border:solid black 1px" ></div>
<form action="../#nejake_ukladani.php">
<textarea  style="width:400px;height:200px;border:solid black 1px" 
	onfocus="this.value = document.getElementById('p').innerHTML"></textarea>
</form>
</body>
</html>
