/* tabulka editory  */

h4 {
	font-size: 15px;
}



.tabulkaeditory {
	width: 90%;
	text-align: center;
	vertical-align: middle;
}
.tabulkaeditorybunky {
	background-color: #F6FFFF;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
}





/*-------------------------------------------*/
.formhledatinput {
   width: 150px; 
	font-size: 15px;
	border: 1px solid black;
}


/* div na smajliky */
#smajlici {
	position:absolute;
	top:-650px;
	left:150px;
	border: 1px solid black;
	padding: 3px;
   background-color: #E3F2FF;
	width: 300px;
}





/* ==================hlavni logo bez obr===================  */
.logo  {
		font-family: Arial, Helvetica, sans-serif;
	   text-decoration: none;
}
 



.dodatky {
	font-size: 11px;
	font-stretch: normal;
	color: #ADADAD;
	font-family: Tahoma;
}




/* =======================telo dokumentu ==================*/
body		{ background:#ffffff;
				margin: 10px;
				font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
				font-size: 12px;
}
	
	
code {
	font-weight: bold;
	color: Navy;
}
	/* ------------- dlouhy text -------------------------- */
	
.dltext	{
	line-height: 20px;
	/*font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;*/
}				

/*=================== ram nahore 1 ========================*/
.ramnahore1 {  padding-left:0px;
					padding-right:10px;
					width:96%;
					.width: 97.4%;
					position:relative;
					background-color: #EBF8F1;
					border-top: 10px solid #006400;
					left:-2px;
					}
								
/* dv kolem celestrankz ----------------------- */
.hlavnidiv  {
	width:99%;
}

/* =======================ram nahore 1 ==================*/
.ramnahore2 {  width:100%;
					margin-left: auto;
					margin-right: auto;}
								

							
/*====================== ram vlevo dole =================*/
.ramdole1  	{  width:71%;
				   .height: 840px; /* pro MSIE */
					min-height: 805px; /* pro NN a operu */
					position:relative;
					left:0px;
					padding:10px;
					padding-top: 0px;
					border-bottom:25px #006400 solid;
					border-top:25px #006400 solid;
				   background-color: #EBF8F1;
					top:10px;/* pro NN a operu */
					.top:10px;/* pro MSIE */
					float: left;
					}

/* ====================ram zeleny prouzek  ==================#009001*/
.modrprouzek { width:98%; /* pro mozilu*/
					.width:102.5%;/* pro ie */
					position:relative;
					padding:2px;
					height:20px;
					background-color: #006400;
					text-align:center;
					font-weight:bold;
					font-family: Arial, Helvetica, sans-serif;
					font-size:15px;
					color: white;
					left:0px;
					top:-25px;}

/*================== normalni div v pravo ==================*/								
.normr			{width:100%;
					position:relative;
					padding:2px;
					height:20px;
					text-align:center;
					font-family:arial;
					font-size:13px;}


/* ==================ram vpravo dole ======================*/
.ramdolep	  {width:21%;
					height:815px;
					.height:840px;
					border-bottom:25px #006400 solid;
					border-top:25px #006400 solid;
				   background-color: #EBF8F1;
					position:relative;
					left:3%;
					top:10px;
					text-align:center;
					float: left;}
								
/* ==============formatovani tlacitek u formularu  ==========#009001*/							
.tlacitka  { border:1px solid black;
				 width:150px;}

.tlacitka2 { border:1px solid black; 
				 width:400px;}	
				 								 	 
					 
					 
						 
/* =============== tabulka pri vypisu clanku =================  */

.tabvypis { width:100%;
				border: 1px dashed black;
				font-family: Arial;
				font-size: 13px;
				 }
				

/* ==================prvni radek =================*/			
.tab1		{ background-color:#DEBDA7;}

/*  ================prvni bunka prvni radek ========*/
.b1		{ width: 50%;
			  font-weight: 900;
			  font-size: 17px;}
			    			
/* ============ druha bunka prvni radek ==============*/
.b2		{text-align: right;}
	
/*===========  prvni bunka druhej radek ==============*/
.b3   { width: 80%;
		  }
	
/*  ===============prvni bunka prvni radek ============*/
.b4   { text-align: right;}

/*  ===============prvni bunka treti radek ============*/
.b5   { text-align: center;
		  font-size: 11px;
		  padding: 1px;
		  background-color: #9DD2D2;
}



/* =======konec tabulky pri vypisu ========================== */



						
/* ================ pro vypisovani indexu /uvodni stranka/ =======*/
.d1	{
   float: left;
	width: 45%;
	text-align: center;
}

.d2	{
	width: 45%;
	float: left;
	text-align: left;
	padding: 10px;
}


/* info div  info.php =============================================== */
.infodiv {
	width: 50%;
	border: 1px dashed Black;
   padding: 5px;
	text-align: left;
}

/* ==================== formulare ==================================== */
.form {
   padding: 5px;
	border: 1px dashed black;
   background-color: #F6FFFF; 
	margin-left: 14%;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

dt {
	font-weight: bold;
}



/* ================== div v dawload ========================= */
.dav1 {
	float:left;
}

.dav2{
	float: none;
   padding-top: 300px;
}

/* formular pro hledatni */
.hledani {
	position: absolute;
	left: 40%;
	padding: 5px;
 	/*background-color: #EBF8F1; */
	width:35%;
	top: 35px;
	z-index: 10;
}


#logo {
	border: 0px;
	width: 215px;
	height: 90px;
	padding-bottom: 0px;
}