/*  =========== ikonky 32*32 ===========================*/
.obr32	{
	width: 32px;
	height: 32px;
}

/*  =========== ikonky 16*16 ===========================*/
.obr16	{
	width: 16px;
	height: 16px;
}



/* obazky odkazy bez ramecku    */
.obrnoodkaz {
	border: 0px;
}



/* -------------- smajlici --------------------- */
.smajlik {
	padding: 1px;
	width: 15px;
	height: 15px;
}

/* ----------------- nastaveni tlavitek  v menu --------------------------------*/
a.menud {
	float: left;
   padding-top:2px;
	padding-bottom:2px;
	width: 19%;
	.width:19.4%;
	text-align:center;
	font-weight: bold;
	font-size: 12px;
	color: black;
	text-decoration: none;
	border: 2px solid #ffffff;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}

a.menud:hover {
	background-color: #63004b;
	border: 2px solid black;
	color: white;
}					
					
/* ------------ nastaveni obrazku pod aktualne -------------------------- */

.obrnab { width:159px;
			  height:47px;
			  border:0px;
			  border: dotted 2px black; }
					
					 
					 
/* ------------- obrazky pod odkazy -------------------------------------- */

.loga		{ border:0px;
					padding:3px;}
					
					
.logo2 { border:0px; }
			 	 
				
					 
					  