/*===================== pro zmenu odkazu text =================*/
a.odkaz:hover			{ color:red;
							  text-decoration: underline;
							  background-color:White;}
							  

a.odkaz						{ color:blue; 
								  cursor: pointer;
								  font-family: Tahoma;
									 font-size: 13px;}


							
							

/* div ktery vypisje pocet vypsanych polozek ve vypisy.php ====== */
.divpozky {
	width: 95%;
	padding: 10px;
	text-align: center;
	font-family: Tahoma;}
	

/* ====================== ........ ========================== */
a.odkaz2:hover			{ color:#007B01;}

a.odkaz2						{ color:black;  
								  font-family: Tahoma;
								  font-weight: bold;}
	
								 
/* ------ male ---------------------*/							  
a.odkaz3:hover			{ color:red;
							  background-color: #ffff99; }
							 

a.odkaz3						{ color:#999186; 
								  font-size: 10px;
								  font-family: Tahoma;}
								  


							