/* -------- div u smajliku  ------------ */
.prouzeksmajlik {
	width: 20px;
	height: 25px;
	background-color: #003868;
	color: White;
	text-align: center;
	margin-bottom: 10px;
   cursor: pointer; cursor: hand;
}




/* nadpis druhe urovne */
.nadpis2	{ font-family:arial;
			  font-size:15px;
			  font-weight:bold;
						}
						
/* nadpis treti urovne */
.nadpis3	{ font-family:arial;
			  font-size:25px;
			  font-weight:bold;
						}
						
						
/* ve formularich vypis chyb */						
.phpchyba {font-family:arial;
						font-size:13px;
						/*font-weight:bold;*/
						color:red}
						
.tagy			{ color:red;
				  font-family: monospace; }
						
.nepro			{
	 font-variant: small-caps;
}

hr					{
	height: 1px;
}

.sedepismo {
	color: #858585;
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
}