<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="cs" lang="cs">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="GENERATOR" content="Microsoft FrontPage 6.0" />
    <style type="text/css"> 
        @import url("css/main.css");
    </style>
    <link rel="stylesheet" type="text/css" href="css/COHEN_style.css" />
    <script charset="utf-8" type="text/javascript" src="js/tooltips.js"></script>
    <title>
      {title}
    </title>
  </head>
  <body {alert}>
    <div id="main">
      <h1>Fileshit</h1>
      <div id="menu">
        	<!-- INCLUDE BLOCK : menu -->
      </div>
      <div id="telo">
        	<!-- INCLUDE BLOCK : telo -->
      </div>
      <hr  class="nodisplay" />
      
      <div id="paticka">
        {paticka}
      </div>
    </div>

  </body>
</html>