<!-- START BLOCK : menu -->   
    <a href="index.php?dir={directory}">{name}</a> - 
<!-- END BLOCK : menu -->
<table border="1">
    <tr>
        <th>Název</th>
        <th>Práva</th>
    </tr>
    <tr>
        <td><a href="index.php?dir={fileUp}">../</a></td>
        <td>---</td>
    </tr>
    <!-- START BLOCK : dir -->   
    <tr>
        <td><a href="index.php?dir={filePatch}">{fileName}</a></td>
        <td>{filePerms}</td>
    </tr>
<!-- END BLOCK : dir -->
</table>
<hr />
<table border="1">
    <tr>
        <th>-----</th>
        <th>Název</th>
        <th>Velikost</th>
        <th>Práva</th>
    </tr>
<!-- START BLOCK : file -->   
    <tr>
        <td>{nahled}</td>
        <td><a href="editor.php?p={fileDir}{fileName}" target="__blank">{fileName}</a></td>
        <td>{fileSize}</td>
        <td>{filePerms}</td>
    </tr>
<!-- END BLOCK : file -->
</table>
